<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StandMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68CB08411D6B047600B6A3B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68CB08551D6B047600B6A3B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68CB08601D6B047600B6A3B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
